<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加属性 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__ADMIN__Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="/index.php/admin/category/index">商品分类</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加属性 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form action="" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">属性名称:</td>
                <td>
                    <input type='text' name='attr_name' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">所属类型:</td>
                <td>
                    <select name="type_id">
                     
                        {volist name='type' id='v'}
                        <option value="{$v.id}">{$v.type_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">属性类型:</td>
                <td>
                   <input type="radio" name="attr_type" value="1" checked='checked'>唯一属性
                   <input type="radio" name="attr_type" value="2" >单选属性
                </td>
            </tr>
            <tr>
                <td class="label">录入方式:</td>
                <td>
                   <input type="radio" name="attr_input_type" value="1" checked='checked'>input输入
                   <input type="radio" name="attr_input_type" value="2">select选择
                </td>
            </tr>
            <tr>
                <td class="label">属性值:</td>
                <td>
                   <textarea name="attr_values" cols="30" rows="10" ></textarea>(多个属性用逗号分离)
                </td>
            </tr>
            <!-- <tr>
                <td class="label">是否推荐:</td>
                <td>
                    <input type="radio" name="isrec" value="1"  /> 是 
                    <input type="radio" name="isrec" value="0"  checked="true"/> 否
                </td>
            </tr> -->
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>

<div id="footer">
共执行 3 个查询，用时 0.162348 秒，Gzip 已禁用，内存占用 2.266 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>

</body>
</html>